<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58845760011-tsrboq5mluag73bboul6qiqg9s2iok23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58845760011-tsrboq5mluag73bboul6qiqg9s2iok23</string>
	<key>API_KEY</key>
	<string>AIzaSyDHRD9RDifUuFRmJzUsxk14en4wv1V8a2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>58845760011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craigswanson.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>lambdatimelinetwo</string>
	<key>STORAGE_BUCKET</key>
	<string>lambdatimelinetwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58845760011:ios:75c56fb7fed884b51e950e</string>
	<key>DATABASE_URL</key>
	<string>https://lambdatimelinetwo.firebaseio.com</string>
</dict>
</plist>